* {
	margin: 0;
	padding:0;
}
#container {
	width: 300px;
	height: 200px;
	position: relative;
	left: 200px;
	top: 100px;
	overflow: hidden;
}

#container .img-list {
	width: 500%;
	position: absolute;
	left: 0;
	top: 0;
}


#container .img-list li {
	width: 300px;
	list-style: none;
	float: left;
}

#container .icon {
	width: 100%;
	position: absolute;
	left: 0;
	bottom:10px;
	text-align: center;
}

#container .icon li {
	list-style: none;
	width: 30px;
	height: 6px;
	background-color: #eeeeee;
	display: inline-block;
	margin-right: 5px;
}

.active {
	background: red !important;
}