* {
	margin: 0;
	padding:0;
}
#container {
	width: 300px;
	height: 200px;
	position: relative;
	/* background: black; */
	left: 200px;
	top: 100px;
	overflow: hidden;
}

#container .img-list {
	width: 600%;
	height: 300px;
	position: absolute;
	left: 0;
	top: 0;
	margin-left:0;
}


#container .img-list li {
	width: 300px;
	list-style: none;
	float: left;
}

#container .icon {
	width: 100%;
	position: absolute;
	left: 0;
	bottom:10px;
	text-align: center;
}

#container .icon li {
	list-style: none;
	border:6px solid #fff;
	border-radius: 100%;
	display: inline-block;
	margin-right: 8px;
	box-shadow: 0 0 20px #000;
}

.active {
	border-color: red !important;
}